{% load nav_tags %}

<div class="container">
    <section id="header">
        <header>
            <div id="logo">
                <a href="/"><img src="" alt="{{ SITE_GLOBAL_SITEDISPLAYNAME }}"/>
                <h1>{{ SITE_GLOBAL_SITEDISPLAYNAME }}</h1></a>
            </div><!-- /#logo -->
            <div id="login">
            
            </div><!-- /#login -->
            <div id="search">
            
            </div><!-- /#search -->
            <div id="nav">
                {% nav 1 %}
            </div><!-- /#nav -->
        </header>
    </section><!-- /#header -->
</div>